<section class="sec-logo">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="~/admin/img/logo-vrinda.png" alt="Админка" />
            </div>
            <div class="col-md-7">
            </div>
            <div class="col-md-3 quick-info">
                Support :<i> info@sargestore.com </i> <br />
                Call : <i>"Казахский_iPhone"</i>
            </div>
        </div>
    </div>
</section>
<!--LOGO SECTION END-->
<section class="sec-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="menu-open-icon">  <i class="fa fa-bars pull-left fa-2x b-clr"></i> </span>  <i class="pull-right"> Добро пожаловать в админку! </i>
            </div>
        </div>
    </div>
</section>
<div id="side-menu">

    <ul>
        <li style="border-bottom:0px;">
            <a href="#" title="close"> <i class="fa fa-close fa-2x menu-close-icon b-clr"></i></a>
        </li>
        <li>
            <a asp-area = "Admin" asp-controller = "Home" asp-action="Index" title="Дэшборд"> <i class="fa fa-home fa-2x "></i> </a>
        </li>
        <li>
            <a href="ui.html" title="UI Elements"> <i class="fa fa-plug fa-2x "></i>  </a>
        </li>
        <li>
            <a href="forms.html" title="Forms"><i class="fa fa-rocket fa-2x "></i>  </a>
        </li>
        <li>
            <a asp-area = "" asp-controller = "Home" asp-action="Index" title="Покинуть область администрирования"> <i class="fa fa-dashboard fa-2x"></i>  </a>
        </li>

    </ul>

</div>
<!--MENU SECTION END-->
<div class="content-wrapper">
    <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">DASHBOARD</h4>

            </div>

        </div>
        <div class="row " style="padding-bottom:40px;">
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="text-center">
                    <i class="fa fa-bus fa-5x "></i>
                    <h5> 30 Stocks Pending</h5>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="text-center">
                    <i class="fa fa-paint-brush fa-5x "></i>
                    <h5> 5 New Designs</h5>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="text-center">
                    <i class="fa fa-paypal fa-5x "></i>
                    <h5> 2 New Invoice </h5>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="text-center">
                    <i class="fa fa-birthday-cake fa-5x "></i>
                    <h5> 1 Person's Birthday</h5>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="text-center">
                    <i class="fa fa-bolt fa-5x "></i>
                    <h5> 20 New Tasks</h5>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="text-center">
                    <i class="fa fa-comments fa-5x "></i>
                    <h5> 120 Messages</h5>
                </div>
            </div>
        </div>
        <hr />
        <br /><br />
        <div class="row text-center ">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="alert alert-info text-center">
                    <h4> IMPORTANT NOTICE</h4>
                    <hr />
                    <i class="fa fa-warning fa-4x"></i>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                    </p>
                    <hr />
                    <a href="#" class="btn btn-info">Read Full Detalis</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="alert alert-danger text-center">
                    <h4> IMPORTANT NOTICE</h4>
                    <hr />
                    <i class="fa fa-warning fa-4x"></i>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                    </p>
                    <hr />
                    <a href="#" class="btn btn-danger">Read Full Detalis</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="alert alert-success text-center">
                    <h4> IMPORTANT NOTICE</h4>
                    <hr />
                    <i class="fa fa-warning fa-4x"></i>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                    </p>
                    <hr>
                    <a href="#" class="btn btn-success">Read Full Detalis</a>
                </div>
            </div>
        </div>
        <hr />
        <br /><br />
        <div class="row" style="padding-bottom:40px;">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="~/admin/img/user2.png" alt="" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vestibulum et eros consectetur</h4>
                            <p>
                                Donec sit amet ligula enim. Duis vel condimentum massa.
                                Maecenas eget congue dui. Vestibulum et eros consectetur,
                                interdum nibh et, volutpat dolor.
                            </p>
                        </div>
                    </li>
                    <!-- COMMENT SECTION - ONE END-->
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="~/admin/img/user.gif" alt="" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Lorem ipsum dolor sit amet</h4>
                            <p>
                                Donec sit amet ligula enim. Duis vel condimentum massa.
                                Maecenas eget congue dui. Vestibulum et eros consectetur,
                                interdum nibh et, volutpat dolor.
                            </p>
                            <!-- Nested media object -->
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle" src="~/admin/img/user2.png" alt="" />
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Nulla gravida vitae neque </h4>
                                    Donec sit amet ligula enim. Duis vel condimentum massa.
                                    Maecenas eget congue dui. Vestibulum et eros consectetur,
                                    interdum nibh et, volutpat dolor.
                                    <!-- Nested media object -->
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" src="~/admin/img/user.gif" alt="" />
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">Donec sit amet ligula enim</h4>
                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                            Maecenas eget congue dui. Vestibulum et eros consectetur,
                                            interdum nibh et, volutpat dolor.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Nested media object -->
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle" src="~/admin/img/user2.png" alt="" />
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Vestibulum et eros consectetur</h4>
                                    Donec sit amet ligula enim. Duis vel condimentum massa.
                                    Maecenas eget congue dui. Vestibulum et eros consectetur,
                                    interdum nibh et, volutpat dolor.
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- COMMENT SECTION - TWO END-->
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="~/admin/img/user.gif" alt="" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Vestibulum et eros consectetur</h4>
                            <p>
                                Donec sit amet ligula enim. Duis vel condimentum massa.
                                Maecenas eget congue dui. Vestibulum et eros consectetur,
                                interdum nibh et, volutpat dolor.
                            </p>
                        </div>
                    </li>
                    <!-- COMMENT SECTION - THREE END-->
                </ul>

            </div>
        </div>
    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->